html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	background-image: url(../image/base-bg.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.navbar {
	z-index: 1030;
}

.navbar-default {
	border-color: transparent;
	background-color: #001569;
}

.navbar-default .navbar-brand {
	font-family: 'Francois One', sans-serif;
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
	color: #ddd;
}

.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
	border-color: #777;
	background-color: #777;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #777;
}

.navbar-default .nav li a {
	color: #fff;
	font-size: 16px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
	outline: 0;
	color: #ddd;
}

@media(min-width:768px) {
	.navbar-default {
		padding: 30px 0 20px 0;
		border: 0;
		background-color: transparent;
		-webkit-transition: background .3s;
		-moz-transition: background .3s;
		transition: background .3s;
		margin-bottom: 0;
	}

	.navbar-default .navbar-brand {
		margin-left: -15px;
		font-size: 60px;
		color: #fff;
		-webkit-transition: background .3s;
		-moz-transition: background .3s;
		transition: background .3s;
	}

	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px;
	}

	#logout {
		font-size: 12px;
		margin-top: 1px;
	}
}

li.avatar a {
	margin: 8px 10px 10px 10px;
	padding: 0;
}

li.avatar a img {
	width: 40px;
	border-radius: 40px;
}

#body-container {
	position: relative;
	min-height: 100%;
	margin-top: -108px; /*navbar height*/
	padding-top: 108px;
}

.footer {
	position: absolute;
	right:0;
	left: 0;
	font-size: 14px;
	text-align: center;
	bottom: 5px;
}

.error-message {
	text-align: left;
	color: #ff0033;
	margin-bottom: 10px;
}

input:focus {
	border-color: #4d90fe;
}

.form-group {
	text-align: left;
}

.form-group input.form-control, textarea.form-control {
	border-radius: 0;
}

.form-group label {
	font-weight: 400;
}

.form-group input[type="email"],
			input[type="password"],
			input[type="text"] {
	height: 28px;
	width: 200px;
}

.form-group.form-hint {
	font-size: 12px;
}

.form-group.form-hint a {
	color: #ddd;
}
.form-group.form-hint a:hover {
	color: #fff;
	text-decoration: none;
}

.form-group.form-submit {
	margin-top: 20px;
}

.form-group.form-submit a,div,button {
	vertical-align: top;
}

.form-group.form-submit a {
	font-size: 18px;
}

.form-group.form-submit button:hover,button:active {
	background: #004000;
	border-color: #004000;
}

.form-group.form-submit a {
	color: #fff;
	text-decoration: underline;
}

.form-group.form-submit a:hover {
	color: #ddd;
}

.form-group .inline-label {
	text-align: right;
	clear: both;
	float:left;
	margin-right:15px;
}

#facebook-login {
	text-align: center;
}

@media(min-width:768px) {
	#email-login {
		float: left;
		width: 240px;
		padding-right: 40px;
		border-right: 2px solid #444;
	}
	#facebook-login {
		padding: 40px 10px 40px 40px;
		float: right;
	}
}

.page-form-container {
	text-align: center;
	display: inline-block;
	position: relative;
	background: #141A40;
	margin-bottom: 70px;
	padding: 20px 40px;
}

.form-group-right {
	float: right;
	margin: 0;
}

@media(max-width:500px) {
	#signup .form-group input {
		width: 150px;
	}
}

@media(min-width:768px) {
	#signin-left {
		float: left;
		padding-right: 20px;
		border-right: 2px solid #444;
	}

	#signin-right {
		float: right;
		margin-left: 20px;
	}

}

#flash-messages {
	position: fixed;
	top: 0;
	opacity: 0.9;
	width: 100%;
	padding: 0;
	z-index: 99999;
}

.alert {
	margin: 0;
	border-radius: 0;
	padding: 10px 30px;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

span.button {
	text-decoration: underline;
	color: #fff;
	cursor: pointer;
}

.select {
	position: relative;
}

.select .selected {
	width: 175px;
	background: #65C400;
	padding: 2px 2px 2px 10px;
	cursor: pointer;
	border-radius: 4px;
}

.select .selected span.select-icon {
	float: right;
	margin: 4px 4px 1px 0;
	color: #fff;
	font-size: 12px;
}

.select .select-dropdown {
	padding-top: 1px;
	top: 23px;
	width: 175px;
	position: absolute;
	background: #65C400;
	cursor: pointer;
	display: none;
	z-index: 1;
}

.select .select-dropdown div {
	padding: 1px 10px;
}

.select .select-dropdown div:hover {
	background: #204d74;
}

.select .select-dropdown div.active {
	background: #001569;
}

button.btn {
	color: #fff;
	min-width: 100px;
	border: 1px solid;
	border-radius: 0;
	font-size: 15px;
	padding: 2px 20px;
}

button.btn:hover {
	color: #ddd;
}

button.btn.active {
	color: #bbb;
}

button.btn.visited {
	color: #fff;
}

button.btn.confirm-button {
	background: #008000;
	border-color: #008000;
	vertical-align: top;
}

button.btn.confirm-button:visited {
	background: #008000;
	border-color: #008000;
}

button.btn.confirm-button:hover {
	background: #006000;
	border-color: #006000;
}

button.btn.confirm-button:active {
	background: #004000;
	border-color: #004000;
}

button.btn.cancel-button {
	background: transparent;
	border-color: #fff;
}

button.btn.cancel-button:visited {
	border-color: #fff;
}

button.btn.cancel-button:hover {
	border-color: #ddd;
}

button.btn.cancel-button:active {
	border-color: #bbb;
}

p.subtitle {
	font-weight: 700;
	letter-spacing: 0.5px;
}

div.section {
	margin-top: 10px;
}

span.label {
	font-size: 12px;
	background-color: #141A40;
	margin-left: 4px;
	cursor:pointer;
}

h2, h3, p {
	margin: 0;
}

.list-menu a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.list-menu a:hover {
	color: #ddd;
}

.list-menu a:active {
	color: #bbb;
}

.list-menu span.icon{
	font-size: 25px;
	margin-right: 8px;
}

.list-menu span.icon + div {
	display: inline-block;
	margin-top: 2px;
}

/* CSS AJAX loader from: http://tobiasahlin.com/spinkit/ */
.sk-circle {
	width: 27px;
	height: 27px;
	position: relative;
	display: inline-block;
}
.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg); }
.sk-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg); }
.sk-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg); }
.sk-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg); }
.sk-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg); }
.sk-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); }
.sk-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg); }
.sk-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg); }
.sk-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg); }
.sk-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg); }
.sk-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s; }
.sk-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}

@keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}