#map-wrapper {
    background: #001569;
    padding: 10px 10px 10px 0;
}

#map-wrapper {
    width: 100%;
}

#location-name-list {
    float:left;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#map-input {
    background-color: #001569;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-left: 12px;
    font-size: 14px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 250px;
}

#location-name-list {
    overflow-y: auto;
}
#location-name-list .hint {
    padding-left: 10px;
}

.location-name {
    padding: 4px 8px 4px 18px;
    cursor: pointer;
}

.location-name .delete,.save{
    color: #001569;
    float:right;
}

.location-name:hover {
    background: #fff;
    color: #001569;
    font-weight: 700;
}

.location-name:hover .delete,.save{
    margin-top: 4px;
}

.location-name .delete:hover,.save:hover{
    color: #245580;
}

#location-name-list .hint {
    color: #bbb;
    font-size: 14px;
    font-style: italic;
}
.transparent {
    margin-top: -10px;
    height: 100%;
}

.place-info-window {
    position:relative;
    min-height: 100%;
}

.place-info-window .bottom-links {
    position:absolute;
    bottom: 2px;
    right: 2px;
}

.place-info-window .bottom-links a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.place-info-window .address {
    margin-bottom: 10px;
}

.place-info-window .bottom-links a:hover {
    color: #ddd;
}